.select-block {
    position: relative;
    width: 100%;
}

.input-block + .select-block{
    margin-top: 1.4rem;
}

.select-block label {
    font-weight: 700;
    font-size: 1.4rem;
}

.select-block select {
    width: 92%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: #FFFFFF;
    border: 1px solid #111111;
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
    cursor: pointer;
}