.input-block {
    position: relative;
}

.input-block + .input-block{
    margin-top: 1.4rem;
}

.input-block label {
    font: 400 1.4rem Archivo;
    color: #111111;
}

.input-block input {
    width: 92%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: #FFFFFF;
    border: 1px solid #111111;
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
    color: #111111;
}