:root {
    --color-background: #111111;
    --color-text-base: #FFFFFF;
    --color-text-base-dark: #d8d8d8;
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    background: var( --color-background);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea {
    font: 500 1.5rem Poppins;
    color: var(--color-text-base)
}

@media (max-width: 1000px){
    :root {
        font-size: 62.5%;
    }
}